.container-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-login {
  background: #fff;
  border: #0d6efd solid 1px;
  border-radius: 12px;
  float: left;
  width: 30%;
  padding: 2%;
}

.content-login {
  padding: 38px;
}

.content-login h3 {
  margin-top: 12px;
  color: #0d6efd;
}

.content-login button {
  margin-top: 12px;
}

.link-cadastro {
  color: #0d6efd;
  cursor: pointer;
}
